* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* :root {
    --color-comenzar: #f15bb5;
    --color-botones: rgb(192, 192, 192);
    --color-bot: #fffb00;
    --color-jugador: #00bfff;
    --color-resultado: rgb(255, 80, 36);
} */

html {
    font-size: 62.5%;
    font-family: arial;
}

#boton_modo_oscuro, #link {
    position: absolute;
    transform: translatex(calc(-50vw + 100%));
    border-radius: 100%;
    padding: 0.3em 0.3em;
    background: var(--bg-oscuro);
    transition: background 1s;
}

#link {
    transform: translatex(calc(50vw - 70%));
    color: var(--color-texto);
    border-radius: 5px;
    text-decoration: none;
    transition: all 1s;
}


body {
    max-width: 100vw;
    background: rgb(32, 32, 32);
    --bg-oscuro: rgb(20, 33, 70);
    --bg-contador1: none;
    --bg-contador2: none;
    --color-bg-button: none;
    --color-texto: white;
    --bg-button-comenzar: none;
    --color-comenzar: #f15bb5;
    --color-botones: rgb(192, 192, 192);
    --color-bot: #fffb00;
    --color-jugador: #00bfff;
    --color-resultado: rgb(255, 80, 36);
    --color-header: rgb(47, 47, 47);
    --color-sombra-resultado: rgb(255, 122, 122); 
    --filtro: invert(90%);
    --color-borde-button-jugador1: #fffb00;
    --color-borde-button-jugador2: #00bfff;
    transition: background 1s;
}

.blanco {
    --bg-oscuro: rgb(255, 168, 29);
    --bg-contador2: #fffb00;
    --bg-contador1: #00bfff;
    --color-bg-button: rgb(92, 92, 92);
    --color-texto: black;
    --color-comenzar: white;
    --bg-button-comenzar: #f15bb5;
    --color-botones: white;
/*     --color-bot: rgb(153, 117, 0);
    --color-jugador: rgb(0, 85, 155); */
    --color-bot: black;
    --color-jugador: black;
    --color-resultado: red;
    --color-header: rgb(197, 197, 197);
    --color-sombra-resultado: rgb(66, 29, 29); 
    --filtro: invert(0%);
    background: rgb(216, 216, 216);
    transition: background 1s;
}

img {
    width: 100%;
    display: block;
    position: absolute;
    filter: var(--filtro);
    transition: filter 1s;
}

header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--color-header);
    transition: background 1s;
    /* padding: 0 1rem; */
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 33.3%;
    max-width: 450px;
    position: relative;
}

button {
    background: var(--color-bg-button);
    display: inline;
    padding: 0.3em 1em;
    border-radius: 5px;
    border-color: var(--color-botones);
    color: var(--color-botones);
    cursor: pointer;
    transition: all 1s;
}

#pedir_carta0, #pedir_carta {
    margin: 1em 0;
}

#comenzar_juego {
    background: var(--bg-button-comenzar);
    color: var(--color-comenzar);
    border-color: var(--color-comenzar);
}

p {
    font-family: 'Akronim', cursive;
    color: var(--color-texto);
    transition: color 1s;
    text-align: center;
    font-size: 3rem;
    margin: 0.5em 0;
}

#en_medio {
    transform: translateX(100%);
    position: fixed;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
}

.en_medio_div_botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span {
    border-radius: 5px;
    padding: 0.1em 0.15em;
}

.resultado {
    display: block;
    width: 33.3%;
    font-size: 3rem;
    position: fixed;
    font-weight: bold;
    font-family: 'Akronim', cursive;
    color: var(--color-resultado);
    text-shadow: 0 0 5px var(--color-sombra-resultado);
    text-align: center;
    transform: translateX(calc(50vw - 50%)) translateY(10vh);
    transition: all 1s;
}

#puntuacion1 {
    color: var(--color-jugador);
    background: var(--bg-contador1);
    transition: all 1s;
}

#puntuacion2 {
    color: var(--color-bot);
    background: var(--bg-contador2);
    transition: all 1s;
}

#parar2 {
    margin: 1em 0;
}

#parar2, #pedir_carta2 {
    border-color: var(--color-borde-button-jugador1);
    background: var(--bg-contador2);
    color: var(--color-texto);
    
}

#parar, #pedir_carta {
    border-color: var(--color-borde-button-jugador2);
    background: var(--bg-contador1);
    color: var(--color-texto);
}

#parar0, #pedir_carta0 {
/*     border-color: var(--color-borde-button-jugador2);
    background: var(--bg-contador2);
    color: var(--color-texto); */
    border-color: var(--color-botones);
    background: var(--color-bg-button);
    color: var(--color-botones);
}
