* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-comenzar: #f15bb5;
    --color-botones: rgb(192, 192, 192);
    --color-bot: #fffb00;
    --color-jugador: #00bfff;
    --color-resultado: rgb(255, 80, 36);
}

html {
    font-size: 62.5%;
    font-family: arial;
}

body {
    max-width: 100vw;
    background: rgb(32, 32, 32);
}

img {
    width: 100%;
    display: block;
    position: absolute;
    filter: invert(90%);
}

header {
    display: flex;
    justify-content: center;
    background: rgb(47, 47, 47);
}

main {
    display: flex;
    justify-content: space-between;
}

section {
    width: 33.3%;
    max-width: 500px;
    position: relative;
}

button {
    background: none;
    display: inline;
    vertical-align: middle;
    padding: 0.3em 1em;
    border-radius: 5px;
    border-color: var(--color-botones);
    color: var(--color-botones);
}

#pedir_carta {
    margin: 1em 0;
}

#comenzar_juego {
    color: var(--color-comenzar);
    border-color: var(--color-comenzar);
}

p {
    font-family: 'Akronim', cursive;
    color: white;
    text-align: center;
    font-size: 3rem;
}

#en_medio {
    transform: translateX(100%);
    position: fixed;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 2rem);
}

.en_medio_div_botones {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

span {
    border-radius: 5px;
    color: black;
    padding: 0.1em 0.15em;
}

.resultado {
    display: block;
    width: 33.3%;
    font-size: 3rem;
    position: fixed;
    font-weight: bold;
    font-family: 'Akronim', cursive;
    color: var(--color-resultado);
    text-shadow: 0 0 5px rgb(255, 122, 122);
    text-align: center;
    transform: translateX(calc(50vw - 50%)) translateY(10vh);
}

#puntuacion1 {
    color: var(--color-jugador);
}

#puntuacion2 {
    color: var(--color-bot);
}
